<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
    {% if studentList %}
    <ul>
    {% for student in studentList %}
        <li>
            <a href="{{ url_for('student_profile', id=student.id) }}">
                {{ student.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
    {% else %}
        <p>There are no students</p>
    {% endif %}

    {% if session.get("logged_in") %}
        <form action="/addStudent">
            <button>Add Student</button>
        </form>
        <form action="/logout" method="POST">
            <button>Log Out</button>
        </form>
    {% else %}
        <form action="/login">
            <button>Sign in</button>
        </form>
    {% endif %}
</body>
</html>